Cloud/xsd/ReporteFechaPromesa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ReporteFechaPromesa" targetNamespace="http://tempuri.org/ReporteFechaPromesa.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/ReporteFechaPromesa.xsd" xmlns:mstns="http://tempuri.org/ReporteFechaPromesa.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Clientes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RUTClave" type="xs:string" />
				<xs:element name="NombreRuta" type="xs:string" />
				<xs:element name="ClienteClave" type="xs:string" />
				<xs:element name="NombreCliente" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>